<br />
<br />
<br />
<h1 style="text-align:center;">Create your own Guild!</h1>
<div class="guild-form">
  <form (ngSubmit)="onSubmit()" [formGroup] = "GuildForm">
    <br /><br /><br />
    <label for="fname">Guildname:</label><br>
    <input type="text" formControlName="guildname" id="guildname" name="guildname" placeholder="Guildname"><br>
    <label for="lname">Description:</label><br>
    <input type="text" formControlName="description" id="description" name="description" placeholder="Description"><br>
    <label for="fname">MaxMembers:</label><br>
    <input type="number" formControlName="maxmembers" id="maxmembers" name="maxmembers" placeholder="Maxmembers"><br>
    <button type="button" (click)="onSubmit()" [disabled]="!GuildForm.valid">Create Guild</button>
  </form>
</div>
