.guild-info {
  margin: 10px;
}

.member-list {
  list-style-type: none;
  padding: 0;
  list-style: none;
}

  .member-list li {
    margin-bottom: 5px;
  }

ul, button {
  margin: 10px;
}
.join-button {
  background-color: #008000;
  color: white;
  border: 2px solid white;
  padding: 6px 14px;
  cursor: pointer;
  border-radius: 10px;
}
  .join-button:hover {
    background-color: #004d00;
  }
.leave-button {
  background-color: #800000;
  color: white;
  border: 2px solid white;
  padding: 6px 14px;
  cursor: pointer;
  border-radius: 10px;
}
.leave-button:hover {
  background-color: #4d0000;
}
